<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332164152617-8ec8pttlqk4aov9r31bj4s1lsibtr6vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332164152617-8ec8pttlqk4aov9r31bj4s1lsibtr6vl</string>
	<key>API_KEY</key>
	<string>AIzaSyBUzZt3tSi-vDWYZf6UoQ76DJqthfiCbCs</string>
	<key>GCM_SENDER_ID</key>
	<string>332164152617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.y2k.realtornote</string>
	<key>PROJECT_ID</key>
	<string>realtornote</string>
	<key>STORAGE_BUCKET</key>
	<string>realtornote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332164152617:ios:aac73b2c6548172c</string>
	<key>DATABASE_URL</key>
	<string>https://realtornote.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9684378399371172~7124016405</string>
</dict>
</plist>