name: DEPLOY IOS
on:
  workflow_dispatch:
    inputs:
        isReleasing:
            description: '심사제출'
            type: boolean
            required: true
            default: true
        body:
            description: 'Version changes'
            required: false
            default: '수정사항'

concurrency:
  group: ${{ github.ref }}/ios/deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: macos-26
    env:
        PRODUCT_NAME: 'realtornote'
        PACKAGE_NAME: 'com.y2k.realtornote'
        IOS_CERT_PATH: 'cert.p12'
        IOS_PROFILE_PATH: 'profile.mobileprovision'
        IOS_KEY_PATH: 'api-key.json'
        GPG_PRIVATE_KEY_PATH: 'private.gpg'
        TUIST_CONFIG_TOKEN: ${{ secrets.TUIST_CONFIG_TOKEN }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Select Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_26.1.1.app

      - name: Import Secret Key
        run: |
          echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d -o $GPG_PRIVATE_KEY_PATH
          gpg --batch --no-tty --yes --import $GPG_PRIVATE_KEY_PATH

      - name: Install Encrypter
        run: |
            brew install git-secret

      - name: Decrypt Secret Data
        run: |
          git secret reveal -p ${{ secrets.GPG_PRIVATE_PWD }}

      - name: Install Mise
        run: |
            brew install mise

      - name: Install Tuist
        run: |
          mise install tuist

      - name: Install Dependencies
        run: |
          mise x -- tuist install

      - name: Set up Tuist Cache
        run: |
          mise x -- tuist setup cache

      - name: Import signing certificate
        env:
          IOS_CERT_BASE64: $IOS_CERT_PATH.base64
        run: |
          echo "${{ secrets.IOS_CERT_P12_DATA }}" > $IOS_CERT_BASE64
          base64 --decode -i $IOS_CERT_BASE64 -o $IOS_CERT_PATH

      - name: Import provisioning profile
        env:
          IOS_PROFILE_PATH_BASE64: $IOS_PROFILE_PATH.base64
        run: |
          echo "${{ secrets.IOS_PROFILE_DATA }}" > $IOS_PROFILE_PATH_BASE64
          base64 --decode -i $IOS_PROFILE_PATH_BASE64 -o $IOS_PROFILE_PATH

      - name: Export Fastlane App Store Key
        env:
          API_KEY_PATH_BASE64: $IOS_KEY_PATH.base64
        run: |
          echo '${{ secrets.IOS_API_KEY }}' > $API_KEY_PATH_BASE64
          base64 --decode -i $API_KEY_PATH_BASE64 -o $IOS_KEY_PATH
          rm $API_KEY_PATH_BASE64

      - name: Generate Xcode Project
        run: |
          mise x -- tuist generate

      - name: Upgrade fastlane
        run: |
          sudo gem install fastlane

      - name: Setup Certificates and Increment Version
        env:
          PACKAGE_NAME: 'com.y2k.realtornote'
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          IOS_CERT_PWD: ${{ secrets.IOS_CERT_P12_PWD }}
          IOS_KEYCHAIN: ${{ secrets.IOS_KEYCHAIN }}
          IOS_KEYCHAIN_PWD: ${{ secrets.IOS_KEYCHAIN_PWD }}
        run: |
          fastlane ios setup

      - name: Create export options plist
        env:
          TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          SCHEME: "App"
        run: |
          cat > ./exportOptions.plist <<EOF
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
            <key>method</key>
            <string>app-store</string>
            <key>teamID</key>
            <string>$TEAM_ID</string>
            <key>provisioningProfiles</key>
            <dict>
              <key>$PACKAGE_NAME</key>
              <string>$PRODUCT_NAME</string>
            </dict>
            <key>signingStyle</key>
            <string>manual</string>
            <key>uploadSymbols</key>
            <true/>
            <key>compileBitcode</key>
            <false/>
          </dict>
          </plist>
          EOF

      - name: Build and Archive App
        env:
          TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          WORKSPACE: "./$PRODUCT_NAME.xcworkspace"
          SCHEME: "App"
          ARCHIVE_PATH:"./build/App.xcarchive"
        run: |
          # Build archive
          mise x -- tuist xcodebuild archive \
            -workspace "$WORKSPACE" \
            -scheme "$SCHEME" \
            -configuration Release \
            -archivePath "$ARCHIVE_PATH"
            # -allowProvisioningUpdates \
            # CODE_SIGN_STYLE=Manual \
            # DEVELOPMENT_TEAM="$TEAM_ID" \
            # CODE_SIGN_IDENTITY="Apple Distribution" \
            # ONLY_ACTIVE_ARCH=NO

      - name: Export IPA
        env:
          ARCHIVE_PATH:"./build/App.xcarchive"
          EXPORT_PATH:"./build"
        run: |
          mise x -- tuist xcodebuild -exportArchive \
            -archivePath "$ARCHIVE_PATH" \
            -exportPath "$EXPORT_PATH" \
            -exportOptionsPlist ./exportOptions.plist
            
      - name: Upload to TestFlight/App Store
        env:
          PACKAGE_NAME: 'com.y2k.realtornote'
        run: |
          fastlane ios upload description:'${{ github.event.inputs.body }}' isReleasing:${{ github.event.inputs.isReleasing }}
